:root{
    --primary-color:#6699FF;
    --secondary-color: #f2f2f2;
    --border-color:#ddd;
    --second-border-color: #dcdcdc;
    --button-color:#FFFFFF;

}

*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

td{
    vertical-align: top;
    height: 50px;

}

table {
    width: 100%;
    border: 1px solid var(--border-color);
    text-align: center;
    table-layout: fixed;

}
.lower {
    border: none;
    margin-top: 0.5%;
}

.lower .left-column{
    width: 15%;
}

.lower .right-column{
    width: 10%;
}

.category-table td,
.category-table th {
    width: 100%;
    vertical-align: middle;
}

table.upper{
    margin:0 auto;
    background: var(--primary-color);
}
.upper{
    padding: 2.5%;
}
.upper img{
    width: 20%;
}

.title{
    font-size: 350%;
    color: var(--secondary-color);
    width: 65%;
}
.games-table td{
    vertical-align: middle;
}

.games-table tr:nth-child(even){
    background-color:var(--secondary-color);
}

.category-table th{
    background-color: var(--secondary-color);
}


.category-table td{
    border: 1px solid var(--second-border-color);
}
.category-table td:hover{
    cursor: pointer;
}
.game-picture{
    width: 20%;
}
.game-picture img{
    margin-top: 2%;
    margin-bottom: 1%;
    width:30%;
}
.download-link:hover{
    color: var(--primary-color);
}

.download-button {
    display: inline-block;
    padding: 4% 8%;
    background-color: var(--primary-color);
    color: var(--button-color);
    text-decoration: none;
}

.download-button:hover {
    background-color: var(--border-color);
}

.my-button{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: var(--second-border-color);
    border: none;

}
.my-button:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}
.my-button:focus {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

    background-color: var(--secondary-color);
}

.link{
    border-collapse: collapse;
    border: none;
    text-decoration: none;
    color:var(--primary-color) ;
}

.link:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

.link:focus{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}







