.homeContainer {
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    table-layout: fixed;
}
.homeContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}
.homeContainer td {
    vertical-align: middle;
    height: 50px;
}

.homeContainer tr > td > img {
    margin-top: 2%;
    margin-bottom: 1%;
    width:30%;
}

.homeContainer tr > td > a > img {
    width:100%;
}

.homeContainer tr > td :hover{
    background-color: #ddd;
}

.homeContainer tr > td > a  {
    margin-top: 2%;
    margin-bottom: 1%;
    width:30%;
    display: inline-block;
    padding: 4% 8%;
    background-color: #6699FF;
    color: #FFFFFF;
    text-decoration: none;
}
