.homeContainer {
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    table-layout: fixed;
}
.homeContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}
.homeContainer td {
    vertical-align: middle;
    height: 70px;
    width: 100px;
}

.homeContainer tr > td > a > img {
     margin-top: 2%;
     margin-bottom: 1%;
     height: 70px;
     width: 100px;
 }



.downloadButton  {
    margin-top: 2%;
    margin-bottom: 1%;
    width:30%;
    display: inline-block;
    padding: 4% 8%;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    border: 1px solid #ddd;
    height: 20px;
    width: 117px;
}


.downloadButtonContainer{
    background-image: url("../public/button.jpeg");
    height: 25px;
    background-repeat: no-repeat;
    background-size: 128px ;
    background-position: center;
    vertical-align: center;

}



.buttonContainer{
    position: relative;
    display: inline-block;
    width: 10px;
}

.myButton  {
    margin-top: 2%;
    margin-bottom: 1%;
    display: inline-block;
    padding: 4% 8%;
    color: #FFFFFF;
    text-decoration: none;
}


.pagination{
    background-color: black;
    height: 20px;
    width: 10px;
}

.numberButtons{
    cursor: pointer;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    font-size: 20px;
    margin-left: 2px;
   background-color: orange;
    margin-top: 100px;
    max-width: 5px;
}

.numberButtons:hover{
    background-color: #ddd;
}


.buttonDiv{
    margin-top: 10px;
}
