.homeContainer {
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    table-layout: fixed;
}
.homeContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}
.homeContainer td {
    vertical-align: middle;
    height: 50px;
}

.homeContainer tr > td > img {
    margin-top: 2%;
    margin-bottom: 1%;
    width:30%;
}

.homeContainer tr > td :hover{
    background-color: var(--border-color);
}

.homeContainer tr > td > a  {
    display: inline-block;
    padding: 4% 8%;
    background-color: var(--primary-color);
    color: var(--button-color);
    text-decoration: none;
}



